<div class="jumbotron mt-4">
    <h1 class="display-4">PRIMERA APLICACION CON MONGO DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat rerum vel magnam nam ex aperiam accusamus fugiat obcaecati, possimus molestias ipsum quia eaque animi quasi fuga est recusandae sint! Ipsum.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam quae perspiciatis nisi molestiae tempora facere nulla nobis iusto porro non, dolores ratione harum in unde nihil possimus consequatur animi voluptatem.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">ClickAqui</a>
</div>